@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  background-image: url("../assets/classroomvideo.gif");
  background-size: 98em;
  background-position: center;
}

html {
  min-height: 100vh;
}

.js_image {
  height: 10rem;
  width: 10rem;
  display: block;
  border: 2px solid black;
  object-fit: cover;
  margin-left: 40%;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul > li {
  list-style: none;
}

article {
  text-align: center;
}

.prullenmand {
  margin-top: 2%;
}

.js_bin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 820px) {
  .js_bin2 {
    display: none;
  }
}

li {
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
  border-radius: 25px;
  font-family: "Walter Turncoat", cursive;
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: max-content;
  font-size: 14px;
}

li::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: rgb(255, 255, 255);
  transition: 300ms;
  position: absolute;
  bottom: 0;
}

li:hover::after {
  width: 100%;
}

.bord {
  display: flex;
  position: absolute;
  column-gap: 420px;
  left: 49%;
  transform: translate(-50%, calc(-50% - 5rem));
  top: 50%;
}

a {
  color: white;
  text-decoration: none;
}

section {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  transition-property: opacity, transform;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

section.-animate {
  opacity: 1;
  pointer-events: unset;
  transform: translate(-50%, calc(-50% - 7rem));
}

/* DE KAART */
.kaart {
  background-image: url("../assets/kaart-achtergrond.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 7px 20px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  width: 300px;
  height: 238px;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js_card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 5rem)) scale(0.5);
}

.kaart h2 {
  color: black;
  margin-top: 1rem;
}

.kaart p {
  color: black;
}

.profiel_foto {
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  border: 2px solid grey;
  margin: 0 auto;
}

.grabbelton img {
  display: flex;
  object-fit: contain;
  border-width: 0px;
  height: 15rem;
}

.grabbelton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 14rem));
}

/* EINDE KAART */

/* DE DROPDOWN */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: auto;
  padding: 0.5em 0.5em 0;
  background-color: white;
  width: 120px;
  display: none;
}

@media (max-width: 820px) {
  details {
    display: block;
    left: 50%;
    top: 71%;
    position: absolute;
    z-index: 999;
    margin-left: -60px;
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
  height: 100px;
}

details[close] {
  padding: 0.5em;
  height: 100px;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details li {
  list-style: none;
  padding: 2px;
  font-family: "Manrope";
}

details li a {
  text-decoration: none;
  color: black;
}

details ul {
  padding-left: 10px;
}

/* EINDE DROPDOWN */
