@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
}

img {
  height: 10rem;
  width: 10rem;
  display: block;
  border: 2px solid black;
  object-fit: cover;
  margin-left: 40%;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul > li {
  list-style: none;
}

article{
  margin-top: 2%;
  text-align: center;
}
.prullenmand{
  margin-top: 2%;
  text-align: center;
}
.js_bin{
  display: flex;
  width: 430px;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}
.js_image{
  margin-top: 2%;
}
li{
  color: rgb(20, 27, 8);
  font-family: sans-serif;
  border:solid white 2px;
 background-image: url("../assets/paaper.jpeg");
 padding:10px;
 border-radius: 25px;
}
section {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

section.-animate {
  opacity: 1;
}

/* DE KAART */
.kaart {
  background-image: url("../assets/kaart-achtergrond.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 7px 20px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  width: 460px;
  height: 238px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-top: 15px;
}

.kaart h2 {
  color: black;
  margin-top: 10px;
}

.kaart p {
  color: black;
  margin-top: 20px;
}

.profiel_foto {
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 100%;
  border: 2px solid grey;
}

/* EINDE KAART */
